header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        }
    
    /**
    muestren en línea y se separen entre sí. Puedes utilizar 
    el siguiente código CSS:
    */

    nav li {
        display: inline-block;
        margin-right: 20px;
        }
    
    /**
    para darles un color y un estilo al pasar el cursor por encima.
    Puedes utilizar el siguiente código CSS y personalizarlo
    */

    nav a {
        color: #fff;
        text-decoration: none;
        padding: 5px;
        }

    nav a:hover {
        color: #1BF7DE;
        }
            
    /**
    Para cambiar el color de fondo del encabezado en pantallas pequeñas
    */
@MEDI(max-width: 767px){
    header{
        background-color: #333;
    }
}
/**
Agregar reglas CSS específicas para diferentes tamaños de pantalla.
Por ejemplo, para cambiar el tamaño de fuente del texto de navegación
 en pantallas pequeñas agregar lo siguiente al final del archivo CSS:
*/

@MEDI(max-width: 767px){
    header{
        width: 1200px;
    }
}

/**
Agregar más reglas CSS para adaptar el contenido a diferentes tamaños
de pantalla. Por ejemplo, para ajustar el ancho del encabezado en 
pantallas grandes, agregar lo siguiente al final del archivo CSS:
*/
@MEDI(max-width: 767px){
    nav{
        font-size: 16px;
    }
}

.container{
    justify-content: center;
    padding:1px;
    margin: 0px;
    text-align: center;
    
}

iframe, vide{
    max-width: 90%;
    align-items: center;
}
